.full-window {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.board {
    max-width: 100vw;
    max-height: 100vh;
    height: fit-content;
    width: fit-content;
    background: antiquewhite;
    position: relative;
}

.board canvas {
    max-width: 100%;
    max-height: 90vh;
    width: auto;
    height: 90vw;
}

.overlay {
    max-width: 100%;
    max-height: 90vh;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    height: 90vw;
}

.overlay.wall-overlay {
    z-index: 5;
    pointer-events: none;
}

.chess-item {
    position: absolute;
}

.player-chess {
    background: red;
    transition: all 0.5s ease;
}

.action-chess {
    background: yellow;
}

.click-point {
    background: brown;
    border-radius: 10000px;
    z-index: 10;
}

.click-point.already-click {
    /*background: yellow;*/
    border-radius: 0;
    outline: 10px solid red;
}
